<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
  <head>
    <title>Ejemplo 7 - Enlaces</title>
  </head>
  <body>
    <a href="#abajo">Ir abajo</a>

    <p>Contenido arriba...</p>
    <p>Más contenido...</p>
    <p>Más contenido...</p>
    <p>Más contenido...</p>
    
    <a name="abajo"></a>
    <p>Estás abajo ahora.</p>

    <a href="pagina.html">Enlace local</a><br>
    <a href="https://www.google.com">Enlace remoto</a><br>
    <a href="mailto:correo@example.com">Enviar correo</a><br>
    <a href="archivo.pdf">Descargar archivo</a>
  </body>
</html>
